<div class="card mb-3" [formGroup]="form">
  <div class="card-header">
    <span class="oi oi-eye"></span>
    Search
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="university">
        <span class="oi oi-globe"></span>
        University
      </label>
      <input type="text" class="form-control" id="university" placeholder="University of Edinburgh" formControlName="university">
    </div>

    <div class="form-group">
      <label for="title">
        <span class="oi oi-book"></span>
        Programme Title
      </label>
      <input type="text" class="form-control" id="title" placeholder="Computer Science" formControlName="title">
    </div>

    <div class="form-group">
      <label for="employmentChances">
        <span class="oi oi-briefcase"></span>
        Employment Chances ({{form.value.employmentChances}}%)
      </label>
      <input type="range" class="form-control-range" id="employmentChances" formControlName="employmentChances">
    </div>

    <div class="form-group">
      <label for="teachingExcellence">
        <span class="oi oi-beaker"></span>
        Teaching Excellence
      </label>
      <select class="form-control" id="teachingExcellence" formControlName="teachingExcellence">
        <option [ngValue]="0">All</option>
        <option [ngValue]="1">Bronze</option>
        <option [ngValue]="2">Silber</option>
        <option [ngValue]="3">Gold</option>
      </select>
    </div>

    <div class="form-group">
      <label for="graduationRates">
        <span class="oi oi-graph"></span>
        First Class Rate ({{form.value.firstClassRate}}%)
        <a href="" ngbTooltip="The first class rate is the proportion of students, who obtained a first class degree.">
          <span class="oi oi-question-mark"></span>
          Help
        </a>
      </label>
      <input type="range" class="form-control-range" id="graduationRates" formControlName="firstClassRate">
    </div>

    <div class="form-group">
      <label for="qualityOfLife">
        <span class="oi oi-home"></span>
        Quality of Life ({{form.value.qualityOfLife}}%)
      </label>
      <input type="range" class="form-control-range" id="qualityOfLife" formControlName="qualityOfLife">
    </div>

    <button class="btn btn-success btn-block" (click)="search()">
      <span class="oi oi-check"></span>
      Search
    </button>
  </div>
</div>

