<a class="btn btn-primary mb-3" routerLink="/search">
  <span class="oi oi-arrow-left"></span>
  Back to Search
</a>

<div *ngIf="university$ | async; let university">
  <h1>
    <span class="oi oi-map-marker"></span>
    {{university.name}}
  </h1>

  <ngb-pagination [maxSize]="maxSize" [(page)]="page" [pageSize]="pageSize" [collectionSize]="university.courses.length"></ngb-pagination>
  <app-course [showFooter]="false" [course]="course" *ngFor="let course of university.courses | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"></app-course>
  <ngb-pagination [maxSize]="maxSize" [(page)]="page" [pageSize]="pageSize" [collectionSize]="university.courses.length"></ngb-pagination>
</div>
